// colors
$red: #ff1300;
$bg: #191919;
$header--bg: #202020;
$blue: #3da6fe;
$grey: #303030;
$light--grey: #888888;
$light--grey--font: #aaaaaa;
$dark--grey: #272727;

// fonts
$kakao-regular: "Kakao Regular", sans-serif;
$kakao: "Kakao Light", sans-serif;
$apple: "Apple SD Gothic Neo", sans-serif;
$hansans: "Black Han Sans", sans-serif;

// size
$mobileSize: 770px;
$tabletSize: 1100px;
