$red: #ff1300;
$bg: #191919;

// fonts
$kakao-regular: "Kakao Regular", sans-serif;
$kakao: "Kakao Light", sans-serif;
$apple: "Apple SD Gothic Neo", sans-serif;
$hansans: "Black Han Sans", sans-serif;

// size
$mobileSize: 770px;
$tabletSize: 1100px;
