#videoContainer {
  position: relative;
  // padding: 0px 30px;
  margin: 0px 30px;
  width: 950px;
  // &.fullscreen {
  //   padding: 0px;
  // }
  video {
    width: 100%;
  }
  #videoControls {
    position: absolute;
    bottom: 5px;
    // left: 45px;
    // right: 0px;
    width: 100%;
    margin: 0 auto;
    // height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    &.show {
      opacity: 1; // 서서히 보이고 사라지는 효과는 visibility 가 아닌 opacity 써야 함
    }
    .videoControls__row1 {
      width: 97%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      input#timeline {
        width: 87%;
        margin-right: 10px;
        -webkit-appearance: none; // range type의 input 에 default CSS styles 설정
        background-color: $light--grey--font;
        opacity: 0.7;
        height: 4px;
        cursor: pointer;
        &:hover {
          height: 6px;
        }
        // &.fullscreen {
        //   width: 90%;
        // }
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 13px;
          height: 13px;
          background-color: white;
          opacity: 1;
          border-radius: 50%;
        }
      }
      div#times {
        font-size: 17px;
      }
    }
    .videoControls__row2 {
      width: 97%;
      margin: 9px 8px;
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        button {
          background: none;
          cursor: pointer;
          color: white;
          border: none;
          &#play {
            margin-right: 20px;
          }
          &#mute {
            margin-right: 10px;
          }
          i {
            font-size: 20px;
          }
        }
        input#volume {
          width: 70px;
          -webkit-appearance: none; // range type의 input 에 default CSS styles 설정
          background-color: $light--grey--font;
          opacity: 0.7;
          height: 4px;
          cursor: pointer;
          visibility: none;
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 13px;
            height: 13px;
            background-color: white;
            opacity: 1;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
.video__add-comments {
  margin: 20px 0px;
  form#commentForm {
    width: 800px;
    display: flex;
    align-items: center;
    textarea {
      width: 80%;
      height: 80px;
      padding: 15px;
      margin-right: 20px;
    }
    button {
      width: 15%;
      padding: 10px;
    }
  }
}

.video__comments {
  li {
    background-color: white;
    color: black;
    width: 300px;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 15px;
  }
}
