div.video-mixin {
  // height: 150px;
  a.video-mixin__link {
    img.video-mixin__img {
      width: 100%;
      height: 220px; // 나중에 수정
    }
    div.video-mixin__main-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 8px 0px;
      img.uploader__img {
        width: 35px;
        border-radius: 50%;
      }
      .main-info__col2 {
        margin-left: 13px;
        margin-bottom: 15px;
        h1.title {
          font-weight: 500;
          font-size: 18px;
        }
        p {
          font-size: 15px;
          color: $light--grey--font;
          line-height: 1.4;
          margin: 2px 0px;
          &.ownername {
            margin-top: 9px;
          }
        }
      }
    }
  }
}

a.video-mixin {
  .wrapper {
    img {
      width: 100%;
    }
  }
  .video-mixin__main-info {
    a.uploader {
      img {
        width: 35px;
      }
    }
  }
}
