extends base
include mixins/video

block content
  //- nav
  //-   ul
  //-     li
  //-       a(href="/videos/upload") Upload Video
  each video in videos 
    +video(video)
  else
    h1 Sorry, nothing found.
