extends base
include mixins/video

block content
  section.video-grid
    each video in videos
      // videos: home 컨트롤러에서 db에 저장된 모든 비디오 데이터 모음
      +video(video)

    else
      h1.empty__message No Videos Found
